<div class="row">
  <div class="col-md-4" id="formTableEspecialidad">
    <h4>Gestión de Especialidades</h4>
    <label class="texto-der" id="mensajeRptaEspecialidad"></label>
    <table class="table table-striped" style="" id="tablaEspecialidad">
      <thead>
        <tr>
          <th style="width: 10px; display:none;">id</th>
          <th style="width: 250px;">Nombre</th>
          <th style="width: 80px;">Botones</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="1000" style="text-align:right">
            <button class="btn btn-default agregar-fila"> <i class="fa fa-plus" style="margin-right:5px"></i>Agregar Registro</button>
            <button class="btn btn-default guardar-tabla"> <i class="fa fa-check" style="margin-right:5px"></i>Guardar Cambios</button>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
